{% extends 'base.html' %}

{% block main %}

	<div class="col-md-6 offset-md-3">
		<h3 class="mb-5 header_text"><b> Admin </b></h3>
		<form action="" method="post" enctype="multipart/form-data">

            {% for field in form %}
                <div>
                    
                    <b>{{ field.label }}</b>
                    {{ field }} 

                </div>
            {% endfor %}

			<div>
				<hr style="margin-top: 65px">
				<button type="submit" class="btn btn-success" style="width: 100%; margin-bottom: 7px; margin-top: 5px"> Add </button>
			</div>
			
		</form>

	</div>

{% endblock %}