{% extends 'base.html' %}

{% block in_style %}

{% endblock%}

{% block main %}
<div class="row">
  <div class="col-md-4">
    <div class="card bg-white text-center">
      <h5 class="card-header">Mobile Users</h5>
      <div class="card-body">
        <p class="card-text"></p>
        <a href="{{url_for('mobile.users')}}" class="btn btn-link">click to view list</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card bg-white text-center">
      <h5 class="card-header">Payments</h5>
      <div class="card-body">
        <p class="card-text"></p>
        <a href="#" class="btn btn-link">click to view list</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card bg-white text-center">
      <h5 class="card-header">Transactions</h5>
      <div class="card-body">
        <p class="card-text"></p>
        <a href="{{url_for('transaction.transaction_view')}}" class="btn btn-link">click to view list</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}


{% block login %}
{% endblock %}