{% extends 'base.html' %}

{% block in_style %}
	.top{
	margin-top: 7%;
}
.move_right{
	text-align: right;
}

{% endblock %}

{% block main %}


<div class="col-md-6 offset-md-3">
	<div class="top">
		<h3 class="form_title">
			<b> List </b>
		</h3>
	</div> 
	<div class="text-right space_between">
		<a class="btn btn-success" href="{{url_for('service_item.item_add')}}"> <i class="fa fa-plus"></i> &nbsp; Add </a>
	</div>
	
	<table class="table table-condensed table-striped">
		<thead>
			<tr> 
				<th> Name </th>
				<th> Label </th>
				<th> Service</th>
				<th class="move_right">&nbsp;</th>
			</tr>
		</thead>
		<tbody>
		{% for item in data %}
			<tr>
				<td> {{ item.name | title }} </td>
				<td> {{ item.label }} </td>
				<td> {{item.service_name }} </td>
				<td class="move_right"><a 
							href="{{url_for('service_item.item_edit', 						item_id=item.id)}}" 
							title="Edit" 
							style="color: green">
								<i class="fas fa-edit"></i>
							</a>
						</td>
			</tr>			
		{% else %}
			<tr>
				<td colspan="3"> <i> no matching record found... </i></td>
			</tr>
		{% endfor %}
		</tbody>

	</table>
</div>

{% endblock %}
 


