{% extends 'base.html' %}

{% block in_style %}

{% endblock %}



{% block main %}

<div class="col-md-10 offset-md-1">
	<div class="item-box">
		<div class="top">
			<h3 class="form_title">
				<b> Item List </b>
			</h3>
		</div> 
		<div class="text-right space_between">
			<a class="btn btn-info add_btn" href="{{url_for('service_item.item_add')}}"> <i class="fas fa-plus"></i> &nbsp; Add </a>
		</div>
		
		<table class="table table-condensed table-striped">
			<thead>
				<tr> 
					<th> Name </th>
					<th> Label </th>
					<th> Service</th>
					<th class="move_right">&nbsp;</th>
				</tr>
			</thead>
			<tbody>
			{% for item in data %}
				<tr>
					<td> {{ item.name | title }} </td>
					<td> {{ item.label }} </td>
					<td> {{item.service_name }} </td>
					<td class="move_right">
							<a 
							href="{{url_for('service_item.item_edit', 						item_id=item.id)}}" 
							title="Edit" style="color: #007bff">
								<i class="fas fa-edit"></i>
							</a>
							&nbsp;
							<a 	href="{{url_for('service_item.delete', 						item_id=item.id)}}" 
								title="Delete"  
								style="color: #007bff" 
								class="delete_item">
								<i class="fas fa-trash-alt"></i> 
							</a>
					</td>
				</tr>			
			{% else %}
				<tr>
					<td colspan="4"> <i> no matching record found... </i></td>
				</tr>
			{% endfor %}
			</tbody>

		</table>

		{{ pagination(users, "bk_cfg.service_view") }}

	</div>
</div>

{% endblock %}

{% block login %}
{% endblock %}
 
{% block scripts %}
	var deltItem = document.getElementsByClassName("delete_item");
	
	for (var i=0; i < deltItem.length; i++) {
		deltItem[i].addEventListener('click', ask_delete.bind(this));
	}

	function ask_delete(e){
		e.preventDefault();

		if (confirm("Do you want to Delete ?")) {
			window.location = e.currentTarget.href;
			return true;
		} 
		return false;	
	}
{% endblock %}

