{% extends 'base.html' %}

{% block in_style %}
img{
	display:block;
	height: auto;
	width: 100px;
}
{% endblock %}


{% block main %}

	<div class="col-md-8 offset-md-2">
		<div class="item-box">
			<div class="top">
				<h3 class="form_title">
					<b> Edit </b>
				</h3>
			</div>
			<br>
			<form action="" method="post" enctype="multipart/form-data">
 				{{ form_fields(form)}}

				 <div class="form-group">			 	
				 	<img src="{{image}}" alt="Image" class="img-thumbnail mobileimg">
				 </div> 
				<div>
					<hr style="margin-top: 65px">
					<div class="row">
						<div class="col-md-6">
							<button type="submit" 
							class="btn btn-primary btn-block send_btn"> Add 
							</button>
						</div>

						<div class="col-md-6">
							<a href="{{url_for('service_item.item_view')}}" 
							class="btn btn-block back_btn"> Cancel 
							</a>
						</div>
					</div>
				
				</div>
				
			</form>
		</div>
	</div>

{% endblock %}

{% block login %}
{% endblock %}