{% extends 'base.html' %}


{% block admin %}
{% endblock %}


{% block login %}
    <div class="col-md-6 offset-md-3">
        <div class="allsides">
            
           <!--  <div class="panel-heading">
                <h2 class="form_title"> Login </h2>
            </div> -->
            <div class="top">
                <h3 class="form_title">
                    <b> Login </b>
                </h3>
            </div>

            <form action="" method="post" class="form" id="form">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <span class="text-danger" role="alert" style="font-size: 14px"> 
                                <ul><li>{{ message }}</li></ul> 
                            </span>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <div class="panel-body">
                    
                    {{form_fields(form)}}
            
                    <div class="button">
                        <button class="btn btn-primary btn-block">Login
                        </button>
                    </div>
                </div>
                
            </form>
        
        </div>
    </div>
{% endblock %}
