{% extends 'base.html' %}


{% block in_style %}

	img{
		display:block;
		height: auto;
		width: 100px;
	}

{% endblock %}


{% block main %}

	<div class="col-md-6 offset-md-3">
		<div class="top">
			<h3 class="form_title">
				<b> Edit </b>
			</h3>
		</div>
		<form action="" method="post" enctype="multipart/form-data">

			 {% for field in form %}
                <div> 

                    <b>{{ field.label }}</b>
                    {{ field }}
                    <span>
						{% if field.errors %}
							{% for error in field.errors %}
								{{error}}
							{% endfor %}
						{% endif %}
					</span> 

                </div>
            {% endfor %}

			 <div class="form-group">			 	
			 	<img src="{{image}}" alt="Image" class="img-rounded">
			 </div> 
			<div>
				<hr style="margin-top: 65px">
				<div class="row">
					<div class="col-md-6">
						<button type="submit" 
						class="btn btn-primary btn-block send_btn"> Add 
						</button>
					</div>

					<div class="col-md-6">
						<a href="{{url_for('bk_cfg.service_view')}}" 
						class="btn btn-block back_btn"> Cancel 
						</a>
					</div>
				</div>
			</div>
			
		</form>

	</div>

{% endblock %}