
{% extends 'item_list.html' %}

{% block _title %}
Transactions
{% endblock %}

{% block add_btn %}
 
{% endblock %}


{% block table_sec %}
 
<table class="table table-condensed table-striped">
	<thead>
		<tr> 
			<th> Date </th>
			<th> Name </th>
			<th> Service </th>
			<th> Status </th>
			<th> Recipient </th>
			<th class="move_right">Actions</th>
		</tr>
	</thead>
	<tbody>
	{% for item in page_data.items %}
		<tr>
			<td> {{ date_fmt(item.date_created) }} </td>
			<td> {{ item.item_name | title }} </td>
			<td> {{ item.service_name }} </td>
			<td> {{ item.trans_desc }} </td>
			<td>  
				{{ get_field('recipient', item.trans_params)}} 
			</td>
			<td class="move_right">
				<button type="button" class="btn btn-link btn-sm" data-toggle="modal" data-target-id="1" data-target="#transDisplay" data-req_obj='{{item.trans_params| safe}}' data-res_obj='{{item.trans_resp | safe }}'>Expand
				</button>
			</td>
			
		</tr>			
	{% else %}
		<tr>
			<td colspan="4"> <i> no matching record found... </i></td>
		</tr>
	{% endfor %}

	</tbody>

</table>

{{ pagination(page_data, "transaction.transaction_view") }}


<div class="modal fade" id="transDisplay" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
		        <h5 class="modal-title">Transaction Details</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
	      	</div>

            <div class="modal-body" style="max-height: 500px;overflow-y: auto;">
				<h4> Request Body </h4>
				<table class="table table-condensed table-striped" id="table_req">           
            	</table>
				<br>
            	<h4> Response Body </h4>
            	<table class="table table-condensed table-striped" id="table_rsp">
		            	
            	</table>

            </div>


        </div>
    </div>
</div>

{% endblock %}


{% block scripts %}
	

	$('#transDisplay').on('show.bs.modal', function (event) {
	  	
	  	var button = $(event.relatedTarget);

  		var req = button.data('req_obj');		 
	  	var resp = button.data('res_obj');
		 
		$("#table_req").html("<tbody>" + get_trans_info(req) + "</tbody>");
		$("#table_rsp").html("<tbody>" + get_trans_info(resp) + "</tbody>"); 	

	})


	function trow(key, value){
		return "<tr> <td>" + key + "</td><td>" + value + "</td></tr>"
	}
	

	function get_trans_info(trans_obj){
		
		var table_row = ''; 
		var value;

		for (var x in trans_obj){ 

			if (x == 'data') {

				for ( var y in trans_obj[x] ) {								
					
					var inn_loop = trans_obj[x][y];
					for (var z in inn_loop){ 
						
						if (typeof inn_loop[z] == 'object'){
							
							for (i in inn_loop[z]){
								table_row += trow(i, inn_loop[z][i])
							} 
 						}

						else{	

 							value = inn_loop[z];
						}

						table_row += trow(z, value)
					}	
				}				
			}

			else{ 
				table_row += trow(x, trans_obj[x]);

			}

		}


		return table_row 
	}

{% endblock %}
 

 